@charset "UTF-8";
/* ベース定義 */
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, ul, ol {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
}

body {
  font-family: "Noto Sans JP", "Hiragino Sans", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "メイリオ", Meiryo, sans-serif;
  font-weight: 400;
  line-height: 1.75;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
  vertical-align: bottom;
}

a, button {
  outline: none;
}

ul {
  list-style: none;
}

/* Utilities */
.u-red {
  color: #B31937;
}

.u-mt-20 {
  margin-top: 20px !important;
}

.u-left {
  text-align: left !important;
}

.u-center {
  text-align: center !important;
}

.u-right {
  text-align: right !important;
}

.u-font-bold {
  font-weight: bold !important;
}

.u-font-normal {
  font-weight: normal !important;
}

.u-block {
  display: block !important;
}

.u-inline-block {
  display: inline-block !important;
}

.u-inline {
  display: inline !important;
}

@media screen and (max-width: 767px) {
  .u-block-sp {
    display: block !important;
  }
  .u-inline-block-sp {
    display: inline-block !important;
  }
  .u-inline-sp {
    display: inline !important;
  }
}
@media screen and (min-width: 768px), print {
  .u-block-pc {
    display: block !important;
  }
  .u-inline-block-pc {
    display: inline-block !important;
  }
  .u-inline-pc {
    display: inline !important;
  }
}
.u-nowrap {
  white-space: nowrap !important;
}

@media screen and (max-width: 767px) {
  .u-hidden-sp {
    display: none !important;
  }
}
@media screen and (min-width: 768px), print {
  .u-hidden-pc {
    display: none !important;
  }
}
@media screen and (min-width: 1080px) {
  .container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 1079px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.btn {
  display: inline-block;
  position: relative;
  padding: 10px;
  background-color: #999;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.change {
  position: relative;
  padding-top: 112px;
}
@media screen and (max-width: 767px) {
  .change {
    padding-top: 40px;
  }
}
.change h2 {
  font-size: 32px;
  font-weight: bold;
  color: #B31937;
}
@media screen and (max-width: 767px) {
  .change h2 {
    font-size: 24px;
  }
}
.change__change {
  position: relative;
}
@media screen and (max-width: 767px) {
  .change__change {
    overflow: hidden;
  }
}
.change__cards {
  display: flex;
  align-items: center;
  gap: -20px;
}
@media screen and (max-width: 767px) {
  .change__cards {
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
  }
}
.change__card {
  background: #fff;
  width: calc(33.3% + 20px);
  margin-top: 200px;
  padding: 40px 20px;
  border-top: 4px solid #B31937;
  border-left: 4px solid #B31937;
  font-size: 20px;
}
@media screen and (max-width: 767px) {
  .change__card {
    width: 100%;
    margin: inherit !important;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  }
}
.change__card.-two {
  margin-top: 100px;
  margin-left: -20px;
}
.change__card.-three {
  margin-top: 0;
  margin-left: -20px;
}
.change__card p {
  margin-top: 20px;
}
.change__cardbg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
@media screen and (max-width: 767px) {
  .change__cardbg {
    width: 200%;
  }
}
.change__cardbg img {
  width: 100vw;
  max-height: 600px;
}
@media screen and (max-width: 767px) {
  .change__cardbg img {
    height: 100%;
    max-height: inherit;
  }
}
.change__fly {
  width: 100%;
  margin-top: -20px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .change__fly {
    width: 40%;
  }
}
.change__after {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: -80px;
}
@media screen and (max-width: 767px) {
  .change__after {
    flex-direction: column-reverse;
    align-items: center;
    gap: 0px;
  }
}
.change__type {
  width: 50%;
}
@media screen and (max-width: 767px) {
  .change__type {
    width: 100%;
  }
}
.change__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .change__box {
    margin-top: -20px;
  }
}
.change__life {
  background-image: url("../img/change-star.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: -80px;
  padding: 60px;
  text-align: center;
  color: #fff;
  font-size: 24px;
}
@media screen and (max-width: 767px) {
  .change__life {
    margin-left: 0;
    font-size: 20px;
  }
}
.change__kantoku {
  margin-top: -20px;
}
@media screen and (max-width: 767px) {
  .change__kantoku {
    margin-top: -40px;
    margin-left: auto;
    width: 60%;
  }
}

.curri {
  position: relative;
  z-index: 2;
  padding: 60px 0 0px;
  background-color: #f2f2f2;
}
.curri__head {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.7);
  width: 50%;
  padding: 20px;
  padding-left: calc(50vw - 500px);
  font-size: 32px;
  font-weight: bold;
  color: #B31937;
}
@media screen and (min-width: 768px) and (max-width: 1079px) {
  .curri__head {
    padding-left: 40px;
  }
}
@media screen and (max-width: 767px) {
  .curri__head {
    padding-left: 20px;
    font-size: 24px;
    width: 100%;
  }
}
.curri__head p {
  color: #000;
  font-size: 16px;
}
.curri__topbg {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
}
.curri__topbg img {
  width: 100%;
  height: auto;
}
.curri__cards {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 80px;
  margin-top: 80px;
}
@media screen and (max-width: 767px) {
  .curri__cards {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
  }
}
.curri__card {
  position: relative;
  background-image: url("../img/curri-cardbg.svg");
  background-size: cover;
  width: 50%;
  border-top: 4px solid #E58917;
  padding: 20px;
}
@media screen and (max-width: 767px) {
  .curri__card {
    width: 100%;
  }
}
.curri__card span {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #E58917;
  padding: 0 12px;
  color: #fff;
}
.curri__card h3 {
  min-height: 80px;
  margin-top: 20px;
  border-bottom: 1px solid #E58917;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.curri__card h4 {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}
.curri__card ul {
  margin-top: 20px;
  padding-left: 20px;
}
.curri__card li {
  display: flex;
  gap: 8px;
  align-items: flex-start;
  margin-bottom: 20px;
}
.curri__card li::before {
  content: "";
  display: inline-block;
  flex: none;
  background-color: #E58917;
  width: 16px;
  height: 16px;
  margin-top: 8px;
}
.curri__card.-red {
  border-color: #B31937;
  background-image: none;
  background-color: #fff;
}
.curri__card.-red span {
  left: inherit;
  right: 0;
  background-color: #B31937;
}
.curri__card.-red h3 {
  border-color: #B31937;
}
.curri__card.-red li::before {
  background-color: #B31937;
}
.curri__img {
  margin-top: 40px;
  height: 140px;
  text-align: center;
}
.curri__graph {
  position: absolute;
  z-index: 2;
  top: -92px;
  left: calc(50% - 120px);
}
@media screen and (max-width: 767px) {
  .curri__graph {
    order: -1;
    position: static;
    width: 50%;
    margin-top: -60px;
    margin-left: auto;
    text-align: right;
  }
}
.curri small {
  display: inline-block;
  margin-top: 40px;
  width: 100%;
  text-align: center;
}

.drawer {
  position: fixed;
  z-index: 1500;
  top: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  max-width: 300px;
  background-color: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  transition: all 0.5s;
}
@media screen and (max-width: 767px) {
  .is-drawer-active .drawer {
    opacity: 1;
    visibility: visible;
    transform: none;
  }
}
.drawer__link {
  display: inline-block;
  border-bottom: 1px solid #eee;
  width: 100%;
  padding: 20px;
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease;
}
.drawer__link:hover {
  background-color: #eee;
}

.drawer__shade {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: 0.5s;
}
@media screen and (max-width: 767px) {
  .is-drawer-active .drawer__shade {
    opacity: 1;
    visibility: visible;
  }
}

.fit {
  position: relative;
  z-index: 2;
  background-color: #f2f2f2;
  padding-top: 80px;
}
@media screen and (max-width: 767px) {
  .fit {
    padding-top: 120px;
  }
}
.fit h2 {
  display: inline-block;
  background-color: #fff;
  padding: 20px;
  padding-left: calc(50vw - 500px);
  font-size: 32px;
  font-weight: bold;
  color: #B31937;
}
@media screen and (min-width: 768px) and (max-width: 1079px) {
  .fit h2 {
    padding-left: 40px;
  }
}
@media screen and (max-width: 767px) {
  .fit h2 {
    padding-left: 20px;
    font-size: 24px;
  }
}
.fit__img {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  max-width: 50vw;
}
@media screen and (max-width: 767px) {
  .fit__img {
    max-width: inherit;
  }
}
.fit h3 {
  transform: rotate(-15deg);
  font-size: 32px;
  font-weight: bold;
  color: #E58917;
}
@media screen and (max-width: 767px) {
  .fit h3 {
    margin-top: 20px;
    font-size: 20px;
  }
}
.fit__best {
  margin-top: 80px;
}
@media screen and (max-width: 767px) {
  .fit__best {
    margin-top: 40px;
  }
}
.fit__box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
@media screen and (max-width: 767px) {
  .fit__box {
    margin-top: 20px;
    flex-direction: column;
  }
}
.fit__card {
  position: relative;
  width: 50%;
  background-color: #fff;
  padding: 20px;
}
@media screen and (max-width: 767px) {
  .fit__card {
    width: 100%;
  }
}
.fit__card::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100px;
  height: 120px;
  top: -112px;
  left: 40%;
  background-image: url("../img/fit-tri-orange.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .fit__card::before {
    top: -36px;
    left: 10%;
    height: 40px;
  }
}
.fit__card.-red::before {
  background-image: url("../img/fit-tri-red.svg");
}
.fit__card.-red h4 {
  border-color: #B31937;
}
.fit__card h4 {
  padding-bottom: 12px;
  border-bottom: 4px solid #E58917;
  font-size: 24px;
  font-weight: bold;
}
.fit__card p {
  margin-top: 20px;
}
.fit__besttext {
  margin-top: -40px;
  position: relative;
  z-index: 3;
}
.fit__ex {
  position: relative;
  z-index: 2;
  margin-top: 40px;
  background-color: #fff;
  padding: 0px 20px 40px;
  border: 4px solid #B31937;
}
@media screen and (max-width: 767px) {
  .fit__ex {
    padding-bottom: 80px;
  }
}
.fit__ex h4 {
  display: inline-block;
  transform: rotate(-15deg);
  background-color: #FCE9EC;
  margin-top: -20px;
  font-size: 24px;
  font-weight: bold;
  color: #B31937;
}
.fit__ex p {
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
}
.fit__ex ul {
  margin-top: 20px;
  list-style-type: disc;
  padding-left: 20px;
}
.fit__nico {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: -1;
}
.fit__sorrys {
  position: relative;
  z-index: 2;
  margin-top: 40px;
  margin-left: calc(100% - 480px);
}
@media screen and (max-width: 767px) {
  .fit__sorrys {
    margin-left: auto;
  }
}
.fit__sorry {
  display: inline-block;
}
.fit__sorrybox {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 480px;
  background-image: url("../img/fit-sorry-bg.webp");
  background-size: cover;
  background-position: right;
  padding: 12px;
  border-radius: 20px;
}
.fit__sorrybox p {
  color: #fff;
}
@media screen and (max-width: 767px) {
  .fit__sorrybox p {
    font-size: 14px;
  }
}
.fit__sea {
  width: 100%;
  margin-top: -120px;
}
@media screen and (max-width: 767px) {
  .fit__sea {
    margin-top: -20px;
  }
}
.fit__sea img {
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  background: linear-gradient(-210deg, rgba(112, 226, 254, 0.9) 0%, white 30%);
  padding: 40px 0 0;
}
.footer__lists {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media screen and (max-width: 767px) {
  .footer__lists {
    flex-direction: column;
    text-align: center;
  }
}
.footer__list p {
  color: #B31937;
  font-weight: bold;
}
.footer__list a {
  color: #000;
  text-decoration: none;
}
.footer__logo {
  text-align: right;
}
@media screen and (max-width: 767px) {
  .footer__logo {
    margin-top: 40px;
  }
}
.footer__bar {
  background-color: #B31937;
  padding: 12px 0;
}
.footer__barbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  .footer__barbox {
    flex-direction: column;
    gap: 20px;
    text-align: center;
    font-size: 12px;
  }
}
.footer__barbox a {
  color: #fff;
  text-decoration: none;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  max-width: 140px;
  margin-left: 40px;
}
@media screen and (max-width: 1079px) {
  .header__logo {
    margin-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .header__logo {
    max-width: 120px;
  }
}
.header__nav {
  width: 100%;
  padding: 0 80px 0 40px;
}
@media screen and (min-width: 768px) and (max-width: 1079px) {
  .header__nav {
    padding: 0 20px;
  }
}
.header__list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: 14px;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .header__list {
    display: none;
  }
}
.header__link {
  text-decoration: none;
  color: #000;
}
@media screen and (min-width: 768px), print {
  .header__sp-menu {
    display: none;
  }
}

.main__font {
  position: absolute;
  top: 20%;
  width: calc(50vw - 500px);
  max-width: 138px;
}
@media screen and (max-width: 767px) {
  .main__font {
    width: 10%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1079px) {
  .main__font {
    width: 10%;
  }
}
.main__font.-top {
  top: 40px;
}
@media screen and (min-width: 768px) and (max-width: 1079px) {
  .main__font.-red {
    opacity: 0.1;
  }
}
@media screen and (max-width: 767px) {
  .main__font.-red {
    opacity: 0.1;
  }
}

.mv {
  width: 100vw;
  height: 44.2vw;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
.mv.-normal {
  height: 56.25vw;
}

.plate {
  background-color: rgba(179, 25, 55, 0.1);
  color: #fff;
}
.plate__plate {
  background-color: #334B18;
  border: solid 20px #B31937;
  padding: 20px;
}
@media screen and (max-width: 767px) {
  .plate__plate {
    border: solid 8px #B31937;
  }
}
.plate__flex {
  display: flex;
}
@media screen and (max-width: 767px) {
  .plate__flex {
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .plate__level {
    width: 100%;
  }
}
.plate__step {
  margin-top: 20px;
}
.plate__level-text {
  margin-top: 12px;
  padding: 20px;
  background-color: #fff;
  color: #000;
}
.plate__box {
  position: relative;
  flex: 1;
  max-width: 520px;
  padding: 24px 0;
  margin-top: 40px;
  text-align: center;
  border-radius: 100%;
  border: 1px solid #fff;
}
@media screen and (max-width: 767px) {
  .plate__box {
    width: 100%;
    border-radius: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.plate__box.-noarrow::after {
  content: none;
}
.plate__box::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: -40px;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 40px solid rgba(255, 255, 255, 0.5);
  pointer-events: none;
}
.plate__iitai {
  font-weight: bold;
  font-size: 20px !important;
}
.plate h3 {
  font-size: 24px;
  color: #FFD400;
}
@media screen and (max-width: 767px) {
  .plate h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  .plate p {
    font-size: 14px;
  }
}

.pro {
  position: relative;
  z-index: 2;
  padding: 60px 0 0px;
  background-color: #f2f2f2;
  background: linear-gradient(-210deg, rgba(112, 226, 254, 0.9) 0%, rgba(242, 242, 242, 0.7) 30%);
}
.pro__head {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.7);
  width: 50%;
  padding: 20px;
  padding-left: calc(50vw - 500px);
  border-right: 2px solid #B31937;
  font-size: 32px;
  font-weight: bold;
  color: #B31937;
}
@media screen and (min-width: 768px) and (max-width: 1079px) {
  .pro__head {
    padding-left: 40px;
  }
}
@media screen and (max-width: 767px) {
  .pro__head {
    padding-left: 20px;
    font-size: 24px;
    width: 100%;
  }
}
.pro__headimg {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 50%;
  max-width: 600px;
}
.pro__catch {
  margin-top: 20px;
  margin-left: auto;
  text-align: right;
  width: 80%;
}
@media screen and (max-width: 767px) {
  .pro__catch {
    width: 100%;
  }
}
.pro__catch img {
  width: 100%;
}
.pro__kantoku {
  margin-top: -25%;
  width: 64%;
}
@media screen and (max-width: 767px) {
  .pro__kantoku {
    margin-top: -16%;
    width: 100%;
  }
}
.pro__namebox {
  background-color: #f2f2f2;
  max-width: 720px;
  padding: 20px;
  border-left: 2px solid #B31937;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.pro__namebox h3 {
  font-size: 32px;
  font-weight: bold;
  color: #B31937;
}
@media screen and (max-width: 767px) {
  .pro__namebox h3 {
    font-size: 24px;
  }
}
.pro__namebox p {
  margin-top: 20px;
}
.pro__history {
  position: relative;
}
.pro__textbox {
  padding: 40px 20px 60px;
  background-color: rgba(255, 255, 255, 0.7);
}
@media screen and (max-width: 767px) {
  .pro__textbox {
    padding: 20px 20px;
  }
}
.pro__textbox h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
  font-size: 32px;
  font-weight: bold;
  color: #B31937;
}
@media screen and (max-width: 767px) {
  .pro__textbox h3 {
    font-size: 24px;
  }
}
.pro__textbox h3::after {
  content: "";
  display: inline-block;
  width: 60px;
  height: 4px;
  background-color: #B31937;
}
.pro__textbox p {
  margin-top: 40px;
}
.pro__photo1 {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
.pro__photo2 {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
}

.seminar {
  position: relative;
  background-color: #f2f2f2;
  padding: 40px 0 60px;
}
.seminar__content {
  position: relative;
  background-color: #fff;
  padding: 20px;
}
.seminar__content h2 {
  font-size: 32px;
  font-weight: bold;
  color: #B31937;
}
@media screen and (max-width: 767px) {
  .seminar__content h2 {
    font-size: 24px;
  }
}
.seminar__content table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  .seminar__content table {
    margin-top: 0;
  }
}
.seminar__content tr {
  border: 1px solid #000;
}
@media screen and (max-width: 767px) {
  .seminar__content tr {
    display: flex;
    flex-direction: column;
  }
}
.seminar__content tr:nth-child(even) {
  background-color: #fff;
}
.seminar__content tr:nth-child(odd) {
  background-color: #f2f2f2;
}
.seminar__content th {
  background-color: #B31937;
  color: #fff;
  font-weight: bold;
}
.seminar__content td {
  padding: 8px 12px;
  min-width: 100px;
}
@media screen and (max-width: 767px) {
  .seminar__content td {
    color: #333;
  }
}
.seminar__content td:nth-child(even) {
  white-space: nowrap;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .seminar__content td:nth-child(even) {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .seminar__genre {
    font-weight: bold;
    color: #B31937 !important;
    background-color: #FCE9EC;
    border-bottom: 1px solid #B31937;
  }
}
.seminar__kantoku {
  position: absolute;
  right: 12px;
  top: -20px;
}
@media screen and (max-width: 767px) {
  .seminar__kantoku {
    position: static;
    margin-top: 20px;
    text-align: right;
  }
}

.skill {
  position: relative;
  background: linear-gradient(to bottom, #9bbdea 0%, rgba(112, 226, 254, 0) 100%);
  padding: 80px 0;
}
.skill__head {
  display: flex;
  gap: 20px;
}
.skill h2 {
  font-size: 32px;
  font-weight: bold;
  color: #B31937;
}
@media screen and (max-width: 767px) {
  .skill h2 {
    font-size: 24px;
  }
}
.skill__table {
  margin-top: 40px;
}
.skill__table table {
  width: 100%;
  border: 2px solid #B31937;
  background-color: #fff;
  border-collapse: collapse;
}
.skill__table tr {
  padding: 12px;
  border: 1px solid #B31937;
}
@media screen and (max-width: 767px) {
  .skill__table tr {
    display: flex;
    flex-wrap: wrap;
  }
}
.skill__table th {
  display: flex;
  gap: 12px;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}
@media screen and (min-width: 768px) and (max-width: 1079px) {
  .skill__table th {
    font-size: 16px;
    min-width: 200px;
  }
}
@media screen and (max-width: 767px) {
  .skill__table td {
    width: 100%;
  }
}

.sp-menu {
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: inherit;
  line-height: 1;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
}

.sp-menu__bar-3, .sp-menu__bar-2, .sp-menu__bar-1 {
  position: absolute;
  left: 10px;
  right: 10px;
  height: 2px;
  background-color: #B31937;
  transition: all 0.3s;
}

.sp-menu__bar-1 {
  display: block;
  top: 14px;
  transform-origin: left;
}
.is-drawer-active .sp-menu__bar-1 {
  transform: translateY(-4px) rotate(45deg) scaleX(1.4142);
}

.sp-menu__bar-2 {
  display: block;
  top: 24px;
}
.is-drawer-active .sp-menu__bar-2 {
  transform: scaleX(0);
}

.sp-menu__bar-3 {
  display: block;
  top: 34px;
  transform-origin: left;
}
.is-drawer-active .sp-menu__bar-3 {
  transform: translateY(5px) rotate(-45deg) scaleX(1.4142);
}

.speak {
  background: linear-gradient(to bottom, rgba(179, 25, 55, 0.1), #fff);
  padding-top: 60px;
}
.speak h2 {
  background-color: #fff;
  padding: 12px;
  border-radius: 40px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .speak h2 {
    font-size: 24px;
  }
}
.speak__think {
  margin-top: 20px;
  text-align: center;
}
.speak__box {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .speak__box {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.speak__left {
  position: relative;
  z-index: 3;
  margin-top: -48px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .speak__left {
    margin-top: 0;
    padding-top: 48px;
    min-height: 448px;
  }
}
.speak__border {
  display: inline-block;
  background-color: #fff;
  padding: 12px;
  border: 2px solid #eee;
  border-radius: 12px;
}
.speak__border.-red {
  border-color: #B31937;
  font-weight: bold;
  font-size: 20px;
}
.speak__arr-g {
  position: absolute;
  bottom: 0;
  z-index: -1;
}
.speak__right {
  position: relative;
  margin-top: -80px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .speak__right {
    margin-top: 20px;
  }
}
.speak__speak {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
}
@media screen and (max-width: 767px) {
  .speak__speak {
    flex-direction: column;
    gap: 20px;
    border: none;
    border-radius: 20px;
    background-color: rgba(179, 25, 55, 0.1);
  }
}
.speak__merit {
  position: absolute;
  top: -40px;
  right: 320px;
}
@media screen and (max-width: 767px) {
  .speak__merit {
    position: static;
    margin-top: 20px;
  }
}
.speak__text {
  font-size: 24px;
  font-weight: bold;
}

.top {
  position: relative;
  padding-top: 80px;
  background-image: url("../img/top-bg.webp");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .top {
    background-image: url("../img/top-bg_sp.webp");
    background-size: 100% auto;
  }
}
.top__arrow {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .top__arrow {
    top: 20%;
  }
}
.top__arrow img {
  width: 100%;
}
.top__catch {
  position: relative;
  z-index: 4;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .top__catch {
    font-size: 24px;
  }
}
.top__emp {
  -webkit-text-emphasis: filled #000;
          text-emphasis: filled #000;
}
.top__what {
  position: relative;
  z-index: 4;
  padding: 24% 0 6%;
  background-image: url("../img/top-kantoku.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
}
@media screen and (max-width: 767px) {
  .top__what {
    padding: 200px 0 40px;
    background-image: url("../img/top-kantoku_sp.webp");
    background-position: top center;
  }
}
.top__what-box {
  background-color: rgba(179, 25, 55, 0.5);
  padding: 20px;
  text-align: center;
  color: #fff;
  font-size: 24px;
}
@media screen and (max-width: 767px) {
  .top__what-box {
    font-size: 16px;
    text-align: left;
  }
}
.top__sub {
  font-size: 32px;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .top__sub {
    font-size: 20px;
  }
}
.top__white {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 0;
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.6) 15%, rgba(255, 255, 255, 0) 60%);
  mix-blend-mode: screen;
  filter: blur(20px);
}

.try {
  position: relative;
  background-color: rgba(179, 25, 55, 0.1);
  padding-top: 80px;
}
.try__top {
  margin-top: -80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media screen and (max-width: 767px) {
  .try__top {
    margin-top: 0;
  }
}
.try__title {
  font-size: 32px;
  font-weight: bold;
  color: #B31937;
}
@media screen and (max-width: 767px) {
  .try__title {
    font-size: 24px;
  }
}
.try__small {
  color: #B31937;
}
@media screen and (max-width: 767px) {
  .try__image-top {
    max-width: 80px;
  }
}
.try__sample {
  background-color: #B31937;
  color: #fff;
  font-size: 24px;
}
@media screen and (max-width: 767px) {
  .try__sample {
    font-size: 20px;
  }
}
.try__one {
  position: relative;
}
.try__card {
  margin-top: 40px;
  background-color: #fff;
  padding: 20px;
}
.try__card.-one {
  max-width: 60%;
  margin-left: 20%;
}
@media screen and (max-width: 767px) {
  .try__card.-one {
    margin-top: 80px;
    max-width: 100%;
    margin-left: 0;
  }
}
.try__card.-two {
  padding-bottom: 80px;
}
.try__card.-three {
  padding-bottom: 80px;
}
.try__text {
  font-size: 24px;
}
@media screen and (max-width: 767px) {
  .try__text {
    font-size: 20px;
  }
}
.try__yabai-img {
  position: absolute;
  z-index: -1;
  top: -40px;
  right: 12%;
}
@media screen and (max-width: 767px) {
  .try__yabai-img {
    top: -70px;
    right: 5%;
  }
}
.try__one-img {
  text-align: center;
}
.try__two-three {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media screen and (max-width: 767px) {
  .try__two-three {
    flex-direction: column;
  }
}
.try__two {
  width: 50%;
}
@media screen and (max-width: 767px) {
  .try__two {
    width: 100%;
  }
}
.try__married-img {
  margin-top: -60px;
  text-align: center;
}
.try__three {
  width: 50%;
}
@media screen and (max-width: 767px) {
  .try__three {
    width: 100%;
  }
}
.try__hirameki-img {
  margin-top: -160px;
  text-align: right;
}
@media screen and (min-width: 768px) and (max-width: 1079px) {
  .try__hirameki-img {
    margin-top: -100px;
  }
}
@media screen and (max-width: 767px) {
  .try__hirameki-img {
    margin-top: -80px;
  }
}